@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap%27');

body {
    display: flex;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    align-items: center;
    gap: 30px;


}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1020px;
    gap: 60px;

}

.film-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 500px;

}

.film-picture {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.film-card-name{
    margin-top: 10px;
    display: flex;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;

}

.film-card-picture-size{
    height: 400px;
    width: 279.06px;
    margin-top: 0;
}

.film-card-content{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}
.film-card-button {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
}

.fs-4{
    padding-left: 200%;
}

.home-button {
    width: 120px;
    height: 40px;
    background-color: #4e3a80;
    color: #FFF;
    border-radius: 5px;
    border-style: solid;
    border-color: #FFFFFF;
}

.home-button-text {
    color: red;


}