{% extends 'header.html' %}

{% block title %}
Информация о фильме
{% endblock %}

{% block content %}

<div class="content">
<div class="image">
    <img src="{{ film.picture.url }}" alt="image not found :<(">
</div>
    <div class="description">
        <div class="description-name"><span>{{ film.name }}</span></div>
        <div class="description-pair">Длительность:<span>{{ film.duration }} мин.</span></div>
        <div class="description-pair">Жанр:<span>{{ film.genre }}</span></div>
        <div class="description-pair">Стоимость:<span>{{ film.price }} BYN</span></div>
        <div class="description-pair">Возрастные ограничения:<span>{{ film.age}}</span></div>
        <div class="description-text">{{ film.description }}</div>





    </div>
</div>

{% endblock %}