{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'film.css' %}">
    <title></title>
</head>
<body>
{% include 'header.html' %}

<div class="content">
    <div class="image">
        <img src="{{ film.picture.url }}" alt="image not found :<(">
    </div>

    <div class="description">
        <div class="description-name" ><span id="film-name">{{ film.name }}</span></div>
        <div class="description-pair">Длительность:<span>{{ film.duration }} мин.</span></div>
        <div class="description-pair">Жанр:<span>{{ film.genre }}</span></div>
        <div class="description-pair">Стоимость:<span id="price">{{ film.price }} BYN</span></div>
        <div class="description-pair">Возрастные ограничения:<span>{{ film.age }}</span></div>
        <div class="description-text">{{ film.description }}</div>
    </div>

    <div class="description-button">
        <button class="buy-button" id="buy-button">Купить билеты</button>
    </div>
</div>


<div class="modal-wrapper" id="modal-wrapper">
    <div id="myModal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">
                <h1 class="modal-window-header">Выберите количество:</h1>
                <span class="close">&times;</span>
            </div>
            {% csrf_token %}
            <div class="modal-content">
                <button id="decrement-button" class="decrement">-</button>
                <input type="number" class="counter" id="counter" value="0" readonly>
                <button id="increment-button" class="increment">+</button>
            </div>
            <div class="payment-header">
                <h1 class="modal-window-price" id="modal-window-price"></h1>
            </div>

            <div class="modal-content-data">
                <label for="number">Контактный номер: </label>
                <input type="tel" class="phone-number" required name="number" id="number">
            </div>

            <div class="modal-content-data">
                <label for="name">Фамилия, Имя: </label>
                <input type="tel" class="phone-number" required name="name" id="name">
            </div>


            <div class="button-confirm">
                <button id="confirm-button" class="order">Оформить заказ</button>
            </div>

        </div>
    </div>
</div>


<script src="{% static 'film.js' %}"></script>


</body>
</html>